  header {
    display: flex;
    width: 100%;
    align-self: stretch;
    align-items: center;
    justify-content: space-around;
    flex-flow: row wrap;
  }

  .content {
    padding: 70px;
  }

  .cards {
    display: flex;
    margin: 40px;
    flex-flow: row wrap;
  }

